body {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 1%;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    color: gray;
    text-align: center;
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#graphic_design {
    background-color: #755CDE;
    height: 500px;
    width: 95%;
}

.design {
    border-radius: 10px;
}

.design img {
    width: 35%;
    margin-top: 5%;
    margin-left: 60%;
}

h2 {
    margin-top: 33%;
    margin-left: 5%;
    color: white;
    font-size: 30px;
}

#contain_imgs {
    margin-top: 30px;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#ux {
    background-color: #F6A560;
    height: 200px;
    width: 170px;
}

#apps {
    background-color: #F39E9E;
    height: 200px;
    width: 170px;
}

#illustrations {
    background-color: #EB7565;
    width: 95%;
    margin-top: 30px;
}

#photography {
    background-color: #61C4B7;
    width: 95%;
    margin-top: 30px;
}

#motion {
    background-color: #552049;
    width: 95%;
    margin-top: 30px;
}

article {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article img {
    width: 100%;
}

article h2 {
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

article a {
    background-color: #EB7565;
    width: 50%;
    height: 40px;
}

#carrousel {
    display: flex;
    flex-direction: column;
}

#carrousel h2 {
    color: black;
}

#carrousel_img {
    display: flex;
}

#arrow {
    width: 50px;
}