* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 1%;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    color: gray;
    text-align: center;
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

#graphic_design {
    background-color: #755CDE;
    height: 50%;
    width: 95%;
    padding: 3%;
}

.graphic {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.graphic article {
    width: 100%;
}

.graphic_imgs {
    display: flex;
    align-items: flex-end;
    height: 50%;
    margin-bottom: 15%;
}

.graphic_imgs img {
    width: 50%;
}

.graphic_h2 {
    color: white;
    font-size: 130%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

#contain_imgs {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#contain_imgs div {
    width: 45%;
}

#ux {
    background-color: #F6A560;
    height: 200px;
    width: 170px;
}

#apps {
    background-color: #F39E9E;
    height: 200px;
    width: 170px;
}

#illustrations {
    background-color: #EB7565;
    width: 95%;
    margin-top: 30px;
}

#photography {
    background-color: #61C4B7;
    width: 95%;
    margin-top: 30px;
}

#motion {
    background-color: #552049;
    width: 95%;
    margin-top: 30px;
}

article {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* article img {
    width: 100%;
} */

/* article h2 {
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
} */

article a {
    background-color: #EB7565;
    width: 50%;
    height: 40px;
}

#carrousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#carrousel h2 {
    color: black;
}

#carrousel_img {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#carrousel_img img {
    width: 90%;
    border-radius: 15px;
    padding: 0 2%;
}

#arrow {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#arrow img {
    width: 5%;
    padding: 5%;
    border-radius: 50%;
    background-color: black;
}

#arrow img:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#book {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 95%;
    padding: 1%;
    margin-top: 10px;
}

#book a {
    margin-bottom: 25px;
    background-color: #EB7565;
}

#end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 10px;
}